* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.blocco {
  background-size: cover;
  margin: 10px 0px;
  box-shadow: 4px 4px grey;
  height: 100vh;
  position: relative;
}

.cover {
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
  height: 100%;
}

.blocco:nth-child(1) {
  background-image: url('../img-bonus/londra.jpg');
}

.blocco:nth-child(2) {
  background-image: url('../img-bonus/boston.jpg');
}

.blocco:nth-child(3) {
  background-image: url('../img-bonus/manhattan.jpg');
}

.name-city {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Mukta', sans-serif;
  font-size: 150px;
  color: white;
  text-shadow: 3px 3px grey;
  display: none;
}

.blocco:hover .name-city {
  display: block;
}

.blocco:hover .cover {
  display: block;
}
